* {
  user-select: none;
}
html {
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 10px;
  background: #fbfbfb;
  font-family: sans-serif;
}
.app {
  .hidden {
    display: none;
  }
  .header {
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20pt;
    height: 40px;
  }
  .field {
    padding: 10px;
    text-align: center;
    position: relative;
    width: 400px;
    height: 400px;
    .item {
      position: absolute;
      display: inline-block;
      text-align: center;
      border: 1px solid #000000;
      transition: top .3s ease-out, left .3s ease-out;
      width: 100px;
      height: 100px;
      line-height: 100px;
      &-0 {
        background: gray;
      }
    }
  }
}
