.item {
    background: #ffffff;
    position: absolute;
    display: inline-block;
    text-align: center;
    border: 1px solid #eeeeee;
    transition: transform .2s ease-out;
    width: 100px;
    height: 100px;
    line-height: 100px;
    z-index: 1;
    font-weight: bold;
    font-size: 32pt;
    box-sizing: border-box;
    &-0 {
        opacity: 0;
    }
}